<h1>Playlist Builder</h1>
<!--
<div>
    <label>Enter Song Name: <input type="text" (input)="onSearchInput($event)"></label>
    <button (click)="searchSong()">Submit</button>
    <button (click)="nextSong()">Next</button>
    <button (click)="addSongToPlaylist()">Add</button>
    <button (click)="createPlaylist()">Create Playlist</button>
    <label>Enter Playlist Name: <input type="text" (input)="onPlaylistNameInput($event)"></label>
    <label>Enter Playlist Description: <input type="text" (input)="onPlaylistDescriptionInput($event)"></label>
    <div>
        <select (change)="selectOption($event.target.value)"
        [(ngModel)]="selected">
            <option [value]="item.id" *ngFor="let item of inputTypeItems"> {{item.name}}</option>
        </select>
    </div>

</div>
-->
<div class="search-form">
    <h3>SEARCH</h3>
    <div class="searchType">
        <select (change)="selectOption($event.target.value)"
        [(ngModel)]="selected">
            <option [value]="item.id" *ngFor="let item of inputTypeItems"> {{item.name}}</option>
        </select>
    </div>
    <label>Search: <input type="text" (input)="onSearchInput($event)"></label>
    <div>
        <button class="search-button" (click)="searchSong()">Submit</button>
    </div>
    <div>
        <button class="search-button" (click)="nextSong()">Next</button>
    </div>
    <div>
        <button class="search-button" (click)="addSongToPlaylist()">Add</button>
    </div>
</div>

<div class="recent-search">
    <h6>Recent Search</h6>
    <iframe id="recentSearch" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<div class="space"></div>

<!--<app-artistblock class="blocks" *ngFor="let artist of artists" [artist]="artist"></app-artistblock>-->
<br />
<hr />
<br />

<div class="currPlaylist">
    <h3>Current Playlist</h3>
    <li *ngFor="let song of playlistSongNames">
        {{song}}
    </li>
</div>

<br />
<hr />
<br />

<div>
    <h3>New Playlist!</h3>
    <label>Enter Playlist Name: <input type="text" (input)="onPlaylistNameInput($event)"></label>
    <label>Enter Playlist Description: <input type="text" (input)="onPlaylistDescriptionInput($event)"></label>
    <button (click)="createPlaylist()">Create Playlist</button>
    <!--<div *ngIf="display_playlist">
        <iframe [src]="this.playlistLink" id="currentPlaylist" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>-->
    <iframe id="currentPlaylist" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</div>

<div>
    
</div>
<!--
<div>
    <label>Enter Song Name: <input type="text" (input)="onSearchInput($event)" id="search_artist"/></label>
    <button (click)="searchArtist()">Submit</button>
</div>

<app-history [artists]="history"></app-history>

<button (click)="onGotoPlaylists()">Go to Popular Playlists</button>
-->