<h2>Playlist Builder</h2>
<div>
    <label>Enter Song Name: <input type="text" (input)="onSearchInput($event)"></label>
    <button (click)="searchSong()">Submit</button>
    <button (click)="nextSong()">Next</button>
    <button (click)="addSongToPlaylist()">Add</button>
    <button (click)="createPlaylist()">Create Playlist</button>
    <!--<label></label>-->
    <label>Enter Playlist Name: <input type="text" (input)="onPlaylistNameInput($event)"></label>
    <label>Enter Playlist Description: <input type="text" (input)="onPlaylistDescriptionInput($event)"></label>
    <div>
        <select (change)="selectOption($event.target.value)"
        [(ngModel)]="selected">
            <option [value]="item.id" *ngFor="let item of inputTypeItems"> {{item.name}}</option>
        </select>
    </div>

</div>

<div>
    <h6>Recent Search</h6>
    <iframe id="tester" src="https://open.spotify.com/embed/track/5ihS6UUlyQAfmp48eSkxuQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe id="recentSearch" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<br />
<hr />
<br />

<!--<app-artistblock class="blocks" *ngFor="let artist of artists" [artist]="artist"></app-artistblock>-->

<div>
    <li *ngFor="let song of playlistSongNames">
        {{song}}
    </li>
</div>

<br />
<hr />
<br />

<div>
    <h6>New Playlist!</h6>
    <iframe id="currentPlaylist" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<div>
    
</div>
<!--
<div>
    <label>Enter Song Name: <input type="text" (input)="onSearchInput($event)" id="search_artist"/></label>
    <button (click)="searchArtist()">Submit</button>
</div>

<app-history [artists]="history"></app-history>

<button (click)="onGotoPlaylists()">Go to Popular Playlists</button>
-->