<h1>Playlist Creator</h1>

<div class="search-form">
    <h3>SEARCH</h3>
    <div class="searchType">
        <select (change)="selectOption($event.target.value)"
        [(ngModel)]="selected">
            <option [value]="item.id" *ngFor="let item of inputTypeItems"> {{item.name}}</option>
        </select>
    </div>
    <label class="blue-block">Search: <input type="text" (input)="onSearchInput($event)"></label>
    <div>
        <button class="search-button blue-block" (click)="searchSong()">Submit</button>
    </div>
    <div>
        <button class="search-button blue-block" (click)="nextSong()">Next</button>
    </div>
    <div>
        <button class="search-button blue-block" (click)="addSongToPlaylist()">Add</button>
    </div>
</div>

<div class="recent-search">
    <h6>Recent Search</h6>
    <iframe id="recentSearch" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>\
</div>

<div class="space"></div>

<br />
<hr />
<br />

<div class="currPlaylist">
    <h3>Current Playlist</h3>
    <li *ngFor="let song of playlistSongNames">
        {{song}}
    </li>
</div>

<br />
<hr />
<br />

<div>
    <h3>New Playlist!</h3>
    <label class="blue-block">Enter Playlist Name: <input type="text" (input)="onPlaylistNameInput($event)"></label>
    <label class="blue-block">Enter Playlist Description: <input type="text" (input)="onPlaylistDescriptionInput($event)"></label>
    <button class="blue-block" (click)="createPlaylist()">Create Playlist</button>
    <div>
        <iframe id="currentPlaylist" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>

<div>
    
</div>
