<!-- Navigation Bar -->
<div class="navigation">
    <!-- We use routerLink here because using href would reload the page every nav click. -->
    <!-- Use / in fromt of all of these paths to designate an absolute path. Can also use relative paths. -->
    <div>
        <a class="page-title" routerLink="/"><img src="assets/images/spotify-logo.png" width="50" height="50" alt="logo">  Spotify Helper</a>
    </div>&nbsp;-&nbsp;&nbsp;
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="select-link" routerLink="/">Home</a>
    </div>
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="select-link" routerLink="/popularPlaylists">Popular Playlists</a> 
    </div>
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="select-link" routerLink="/searchArtist">Search for Artists</a> 
    </div>
    <div class="flex-right" *ngIf="isSpotifyAuthenticated">
        <a>(Spotify Authenticated)</a>
    </div>
    <div class="flex-right" *ngIf="!isLoggedIn">
        <button class="btn btn-primary" (click)="gotoAuthentication()" type="button">Login / Sign Up</button>
    </div>
    <div class="flex-right" *ngIf="isLoggedIn">
        <p style="display: inline">- Logged in as {{ username }} - </p>
        <button class="btn btn-primary" (click)="logout()" type="button">Logout</button>
    </div>
</div>
<br>
<hr>
<br>

<!-- Load chosen component, marks place in document where Angular should load the currently selected route -->
<router-outlet></router-outlet>

<!-- Footer -->
<br>
<br>
<hr>
<br>
<ul class="list-inline">
    <li class="list-inline"><a class="link" href="https://github.com/jdelledonne/spotify-app">Project Repository</a>
    </li>
</ul>
<br>
<br>
<p style="color:dimgrey">Developed using Angular 10 and Bootstrap</p>
<p style="color:dimgrey">Created by Jack Bailey and Joe Delle Donne for CSE 40693 Modern Web Development</p>
<br>