/* ----- General tag settings ----- */

body {
    padding: 40px;
    font-size: 14px;
    font-family: 'Montserrat';
    background-color: #282927;
    color: #ebf3f7;
    resize: both; 
}

html {
    background-color: #282927;
}

hr {
    border-color: #ebf3f7;
}

.list-inline {
    display: inline;
    margin-right: 15px;
    padding: 0px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #1894c5;
}

.link:hover {
    text-decoration: underline;
    color: #d5d555;
}

.form-block {
    background-color: #598f91;
    padding: 10px;
}

.page-title {
    text-align: center; 
    font-size: 20px; 
}
.page-title:hover {
    background: #1db954;
}

.center-item {
    display: inline; 
    margin-left: auto; 
    margin-right: auto; 
}

.center-text {
    text-align: center; 
}

.signup_alert {
    background-color: #1db954;
}

.welcome-block {
    background-color: #1db954;
    padding: 3em;
    border-radius: 25px;
    display: inline-block;
}

.text-block {
    background-color: #1db954;
    padding: 2em;
    border-radius: 25px;
    text-align: center;
}

.verticalLine {
    border-left:  solid #ebf3f7;
    padding: 5px;
}

/* ----- CSS Grid ----- */
main {
    /* Basic settings */
    max-width: 1200px; 
    margin: 30px auto; 
    padding: auto 20px; 
    width: 100%; 
    
    /* CSS Grid setup */
    display: grid;
    grid-auto-rows: auto;  /* define auto row size */
    
    /* Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
}

app-artistblock {
    border-radius: 10px;
    padding: 20px;
    color: white;
    background-color: #1db954;
}

/* colors changed with click 
artistblock:nth-child(odd) {
    background-color: #55bbe9;
}

artistblock:nth-child(even) {
    background-color: #1db954
}
*/

/* ----- Navigation Bar Settings ----- */

.navigation {
    /* Basic settings for a flex box */
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    
    list-style: none;   /* bullet type */
    margin: 0;
    background: #1db954;
    
    padding: 0;
}

.nav-boot {
    background: #1db954;
}

.nav-boot a {
    text-decoration: none;
    color: #ebf3f7;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    display: table-cell;
    margin: 1em;
}

.nav-route {
    text-align: center;
    margin: auto;
}

.nav-dropdown {
    background: #1db954;
    color: #ebf3f7;
}

.select-link:hover {
    background: #1894c5;
}

.navigation.page-title:hover {
    background: #1db954;
}

.flex-right {
    margin-left: auto;
    padding-right: 2em;
}

.active {
    background: #40611f;
}

.top-charts {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    list-style: none; 
}

.top-charts iframe {
    padding: 10px; 
}

/* Media query: these styles are applied only if these conditions are met */
/* for all screen sizes and all screen sizes below 800 px */
@media all and (max-width: 800px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
}

/* Specifically about mobile (for screens smaller than 600 px) */
@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    
    .navigation a {
        text-align: center;
        padding: 10px;
    }
    
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}