<!-- Search Area -->
<div class="parent">
    <div class="welcome-block">
        <h2>Welcome to the Spotify Helper!</h2>
        <p>The Spotify Helper is an application designed to allow users to easily interact with the music on Spotify.</p>
    
        <hr>
        <p>To continue using the site, please login to your Spotify Helper account.</p>
        <button class="btn btn-primary" (click)="gotoAuthentication()" type="button">Login  / Sign Up</button>
    
        <hr>
        <p>To use certain portions of the site that access Spotify's music databases, you need to link to your Spotify account.</p>
        <button class="btn btn-primary" (click)="spotifyLogin()" type="button">Login to Spotify</button>
    </div>
</div>