<!-- Multiple popular spotify playlist groups -->
<h2>Popular Overall Playlists</h2>
<ul class=top-charts>
    <li>
        <iframe id="usTop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="globalTop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="globalViral" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>

</ul>

<br>
<hr>
<br>

<h2>Popular Pop Playlists</h2>
<ul class=top-charts>
    <li>
        <iframe id="topPop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="viralPop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="popPop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
</ul>

<br>
<hr>
<br>

<h2>Popular Rock Playlists</h2>
<ul class=top-charts>
    <li>
        <iframe id="classicRock" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="oldRock" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="newRock" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
</ul>

<br>
<hr>
<br>

<h2>Popular Hip-Hop Playlists</h2>
<ul class=top-charts>
    <li>
        <iframe id="topRap" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="getTurnt" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="popRap" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
</ul>