<!-- Popular spotify playlists -->
<h2>Popular playlists with other users</h2>

<ul class=top-charts>
    <li>
        <iframe id="usTop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="globalTop" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
    <li>
        <iframe id="globalViral" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </li>
</ul>